
.lead__title {
  width: 90%;
  margin: 0 auto 16px;
  text-align: center;
  font-size: 12.5vw;
  line-height: 1.1;
  font-weight: 900;
}

@media screen and (min-width: 768px) {
  .lead__title {
    min-width: 720px;
    max-width: 984px;
    margin-bottom: 32px;
    font-size: 96px;
    line-height: calc(100/96);
  }
}