
.footer {
    width: 90%;
    max-width: 1184px;
    margin: auto;
    padding-bottom: 24px;
    display: flex;
    flex-direction: column;
  }
  
  @media screen and (min-width: 768px) {
    .footer {
      width: 93.75%;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }
  
  @media screen and (min-width: 1024px) {
    .footer {
      width: 90.625%;
    }
  }
  
  @media screen and (min-width: 1280px) {
    .footer {
      width: 92.5%;
    }
  }